.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .main-text {
    text-align: center;
    font-family: "Cormorant";
    font-size: 30px;
    text-transform: uppercase;
    background-color: #eed7b7;
    padding: 15px 0;
  }
  .skill {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    span:first-of-type {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
