.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #d9d9d9;
  padding: 20px;
  font-weight: 600;
  .avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
  .contact-container {
    display: flex;
    flex: 1;
  }
  .contact {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__details {
      height: 40px;
      display: flex;
      align-items: center;
      a {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
  .education {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    &__header {
      text-transform: uppercase;
      text-align: center;
    }
    div {
      font-weight: 400;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
