.title-containter {
  display: flex;
  background-color: #eed7b7;
  align-items: center;
  padding: 80px 0px;
  font-family: "Cormorant";
  flex-direction: column;
  text-transform: uppercase;
  .name {
    width: 50%;
    text-align: center;
    font-size: 65px;
  }
  .specific-name {
    margin-top: 15px;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 45px;
  }
}

.divider {
  display: flex;
  height: 5px;
  background-color: black;
  width: 75%;
}
