.clients-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-family: "Cormorant";
    font-size: 30px;
    text-transform: uppercase;
    background-color: #eed7b7;
    padding: 15px 0;
  }
  .gallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    .brand-name {
      font-size: 20px;
      margin-top: 30px;
      font-weight: 500;
    }
  }
}
